blinker==1.9.0
click==8.4.1
colorama==0.4.6
comtypes==1.4.16
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pyjokes==0.8.3
pypiwin32==223
pyttsx3==2.99
pywin32==312
uv==0.11.19
Werkzeug==3.1.8
